{:highlights [{:id #uuid "669993e0-80aa-4b58-a3f1-d04194ac0edb",
               :page 16,
               :position {:bounding {:x1 431.4375,
                                     :y1 693.359375,
                                     :x2 737.02783203125,
                                     :y2 716.15625,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 684.9705810546875,
                                   :y1 693.359375,
                                   :x2 737.02783203125,
                                   :y2 704.359375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 431.4375,
                                   :y1 705.15625,
                                   :x2 570.3242797851562,
                                   :y2 716.15625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 16},
               :content {:text "Predictive business process monitorin"},
               :properties {:color "yellow"}}
              {:id #uuid "669993f1-f0ce-4663-bb38-55dca9c3e1cc",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 800,
                                     :y2 2080.5625,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 800,
                                   :y2 1035.28125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 0,
                                   :y1 1045.28125,
                                   :x2 800,
                                   :y2 2080.5625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 12},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "6699940d-c0a0-41c7-88e6-ca1dc911a1f1",
               :page 10,
               :position {:bounding {:x1 62.71875,
                                     :y1 780.3125,
                                     :x2 304.8255615234375,
                                     :y2 794.3125,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 62.71875,
                                   :y1 780.3125,
                                   :x2 304.8255615234375,
                                   :y2 794.3125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 10},
               :content {:text " probability that a given classiﬁer will rank "},
               :properties {:color "yellow"}}
              {:id #uuid "66999410-b7d7-45be-bc1d-468dc94aff4d",
               :page 10,
               :position {:bounding {:x1 407.828125,
                                     :y1 666.03125,
                                     :x2 737.28369140625,
                                     :y2 815.75,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 426.46875,
                                   :y1 666.03125,
                                   :x2 737.24169921875,
                                   :y2 680.03125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 407.828125,
                                   :y1 681.140625,
                                   :x2 737.2496948242188,
                                   :y2 695.140625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 407.828125,
                                   :y1 696.15625,
                                   :x2 737.28369140625,
                                   :y2 710.15625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 407.828125,
                                   :y1 711.265625,
                                   :x2 737.2451171875,
                                   :y2 725.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 407.828125,
                                   :y1 726.375,
                                   :x2 737.24267578125,
                                   :y2 740.375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 407.828125,
                                   :y1 741.390625,
                                   :x2 737.2381591796875,
                                   :y2 755.390625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 407.828125,
                                   :y1 756.5,
                                   :x2 737.2473754882812,
                                   :y2 770.5,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 407.828125,
                                   :y1 771.625,
                                   :x2 737.24658203125,
                                   :y2 785.625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 407.828125,
                                   :y1 786.734375,
                                   :x2 736.5433349609375,
                                   :y2 800.734375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 407.828125,
                                   :y1 801.75,
                                   :x2 613.6295776367188,
                                   :y2 815.75,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 10},
               :content {:text "Computation time. When assessing the performance of the methods, we distinguish the time taken in the ofﬂine and the online modes. The ofﬂine time is the total time needed to construct the classiﬁer from the historic traces available in an event log. Namely, it includes the time for constructing the preﬁx log, bucketing and encoding the preﬁx traces, and training the classiﬁer. In the online phase, it is essential that a prediction is produced almost instantaneously, as the predictions are usually needed in real time. Accordingly, we deﬁne the online time as the average t"},
               :properties {:color "yellow"}}
              {:id #uuid "66999423-fde1-422d-8dc6-432dde52c923",
               :page 16,
               :position {:bounding {:x1 431.4375,
                                     :y1 164.015625,
                                     :x2 736.6756591796875,
                                     :y2 186.71875,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 652.24462890625,
                                   :y1 164.015625,
                                   :x2 736.6756591796875,
                                   :y2 175.015625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 431.4375,
                                   :y1 175.71875,
                                   :x2 637.506103515625,
                                   :y2 186.71875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 16},
               :content {:text "A method and tool for predictive event-driven process analytic"},
               :properties {:color "yellow"}}],
 :extra {:page 14}}
